doctype5

html

  head
    title= (locals.title || locals.current.name) + ' - Jungles Postgres Bundle'
    title Jungles Postgres Bundle
    link(href='/stylus/general.css', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')

    if locals.current.description
      meta(content=locals.current.description, name='description')

  body

    .page

      .nav
        !{navigation(locals.tree, 0, 0, locals.current)}

      .header

      .content
        block content

    .footer Powered by <a href='https://github.com/Enome/jungles' target='_blank'>Jungles</a>

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='/js/main.js')
